// @each $blabla in facebook, instagram , vkontakte {
// .#{$blabla} {
// background-image: url('#{$blabla}.jpg');

// }

// }
.header {
font-family: 'Montserrat';
font-style: normal;
width: 1440px;
background-color: blue;
}
.header-container {
padding: 35px 32px 43px 40px;


}