// @each $blabla in facebook, instagram , vkontakte {
// .#{$blabla} {
// background-image: url('#{$blabla}.jpg');

// }

// }
.header {
width: 1440px;
background-color: aqua;
}
.header-container {
padding: 35px 32px 43px 40px;


}