.categories {
background-color: #F4F3F1;
&-item__link {
text-decoration: none;
font-size: 24px;

    }
    &-item__main {
display: flex;
justify-content: space-between;



    }
    &-footer {
        height:208px;
        width: 100%;
        background-color: aqua;
        
        }
    max-width: 1440px;
    max-height: 1615px;

    &-title {
        width:  100%;
        height: 199px;
       background-color: aqua;
            }
    &-item__desc {
background-color: white;
padding: 20px 24px;



    }
   &-item__image {
width: 650px;
height: 410px;

   }
   &-item__title {
text-decoration: none;
font-size: 24px;
    
       }

&__container {
display: grid;
grid-column-gap: 60px;
grid-row-gap: 60px;
width: 100%;
height: 100%;
grid-template-columns: 1fr 1fr;
grid-template-areas: "a1 a2"
                     "a3 a4"
}
$count: 4;
&-item {
&:nth-of-type(1) {
margin-left: 40px;
background-color: red;

}
&:nth-of-type(2) {
margin-right: 40px;
background-color: yellow;
}
&:nth-of-type(3) {
    margin-left: 40px;
background-color: blue;
}
&:nth-of-type(4) {
    margin-right: 40px;
    background-color: brown;
    }
}
@for $i from 1 through $count {
&-item:nth-of-type(#{$i}) {
grid-area: a#{$i};
width: 650px;


}

}



}

.btn {
&--brown {
padding: 10px 20px;
background-color: #B17955;
border-radius: 6px;
margin-top: -10px;
}

}